* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    font-style: italic;
}

a {
    color: #f8f8f8;
    text-decoration: none;
    font-weight: 700;
}

html,
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #f8f8f8;
    font-family: 'Fira Code', monospace;
    height: 100vh;
    background: linear-gradient(to right, #0a0a0ac7, #00000096), url("./img/pexels-markus-spiske-1089440.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    /* border-bottom: 2px solid #f8f8f8; */
    box-shadow: 1px 1px 10px 1px #f8f8f8;
    /* border-bottom: 15px ridge #f8f8f8; */
}

header ul {
    display: flex;
}

header ul li a i {
    transition: 0.7s ease-in-out;
}

header ul li {
    padding: 8px;
}

header ul li a i:hover {
    color: #284dc7;
    transform: rotate(360deg);
}

.container {
    margin: 80px auto;
    text-align: center;
}

.container .photo>img {
    width: 200px;
    height: auto;

    border-radius: 50%;
    border: 2px solid #f8f8f8;
}

.container .name h1 {
    font-size: 60px;
}

.container .name h5 {
    font-size: 27px;
}

#arrow {
    font-size: 40px;
    cursor: pointer;
    animation: blink 2s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#animation {
    transition: .3s ease-in-out;
}

.rotate {
    transform: rotate(180deg);
    transition: .3s ease-out;
}

#about.active {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

#about {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s cubic-bezier(0.4, 0, 0.2, 1);
}

#about p {
    max-width: 600px;
    margin: 30px auto;
    transition: 0.3s ease-in-out;
}

.form {
    width: 40%;
    margin: 0 auto;
}

.form div>p {
    margin: 15px 0;
}

.form input {
    height: 30px;
    padding: 5px 10px;
    width: 60%;
    border: none;
    border-radius: 10px;
}

.form button {
    background: #284dc7;
    padding: 5px 10px;
    color: #f8f8f8;
    width: 20%;
    height: 30px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.form button:hover {
    background-color: #f8f8f8;
    color: #284dc7;
    border: 2px solid #284dc7;
}

footer {
    text-align: center;
    margin: 30px;
}

footer span>i {
    color: red;
}

footer span>i:hover {
    transform: ;
    animation: beat 2s ease-out infinite;
}

@keyframes beat {

    0%,
    40%,
    70%,
    100% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.4);
    }

    50%,
    80% {
        transform: scale(1.2);
    }
}

footer span>a {
    transition: 0.3s;
}

footer span>a:hover {
    color: #284dc7;
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .form {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .container .photo>img {
        width: 150px;
    }

    .container .name h1 {
        font-size: 30px;
    }

    .container .name h5 {
        font-size: 16px;
    }

    #about p {
        max-width: 80%;
        text-align: justify;
    }
}